@import "../variables";

section{
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;

  &:not(:last-child){
    border-bottom: 1px solid $gray-600;
  }

  p{
    color: hsla(0, 0%, 43%, 1);
  }

  div{
    display: flex;

    &.above{
      flex-direction: column;
    }
  }
}

button{
  display: flex;
  min-width: 6.25rem;
  padding: 0.375rem var(--sds-size-space-300);
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: .25rem;

  &.filled{
    background: $secondary-500;
    border: $secondary-500;
    color: white;
  }
}
