<app-navigation [simple]="true"></app-navigation>

<main>
  <div class="sidebar">
    <div [ngClass]="{'active': currentPage === 'videos'}" (click)="switchPage('videos')">
      <fa-icon [icon]="faCirclePlay"></fa-icon>
      <p>Videos</p>
    </div>

    <div [ngClass]="{'active': currentPage === 'learningpaths'}" (click)="switchPage('learningpaths')">
      <app-learning-path-icon class="icon"></app-learning-path-icon>
      <p>Learningpaths</p>
    </div>

    <div [ngClass]="{'active': currentPage === 'manage-users'}" (click)="switchPage('manage-users')">
      <fa-icon [icon]="faUsersGear"></fa-icon>
      <p>Manage Users</p>
    </div>

    <div [ngClass]="{'active': currentPage === 'video-requests'}" (click)="switchPage('video-requests')">
      <fa-icon [icon]="faFileVideo"></fa-icon>
      <p>Video Requests</p>
    </div>

    <div [ngClass]="{'active': currentPage === 'user-statistics'}" (click)="switchPage('user-statistics')">
      <fa-icon [icon]="faChartSimple"></fa-icon>
      <p>Show Statistics</p>
    </div>
  </div>

  <section>
    @switch (currentPage){
      @case('videos'){
        <app-videos></app-videos>
      }
      @case('learningpaths'){
        <app-learningpaths></app-learningpaths>
      }
      @case('manage-users'){
        <app-manage-users></app-manage-users>
      }
      @case ('video-requests'){
        <app-video-requests></app-video-requests>
      }
      @case ('user-statistics'){
        <app-user-statistics></app-user-statistics>
      }
    }
  </section>
</main>


