<app-navigation [simple]="true"></app-navigation>

<main>
  <div class="sidebar">
    <div [ngClass]="{'active': currentPage === 'my-videos'}" (click)="switchPage('my-videos')">
      <fa-icon [icon]="faCirclePlay"></fa-icon>
      <p>My Videos</p>
    </div>

    <div [ngClass]="{'active': currentPage === 'my-learningpaths'}" (click)="switchPage('my-learningpaths')">
      <app-learning-path-icon class="icon"></app-learning-path-icon>
      <p>My Learningpaths</p>
    </div>

    <div [ngClass]="{'active': currentPage === 'manage-users'}" (click)="switchPage('manage-users')">
      <fa-icon [icon]="faUsersGear"></fa-icon>
      <p>Manage Users</p>
    </div>
  </div>

  <section>
    @switch (currentPage){
      @case('my-videos'){
        <app-my-videos></app-my-videos>
      }
      @case('my-learningpaths'){
        <app-my-learningpaths></app-my-learningpaths>
      }
      @case('manage-users'){
        <app-manage-users></app-manage-users>
      }
    }
  </section>
</main>


