@import "../../../variables";

:host{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-bottom: 1px solid black;
  gap: 1rem;
}

header{
  display: flex;
  gap: 2rem;
}

.bottom{
  gap: 1rem;
}

input{
  width: 30ch;
  padding-block: .2rem;
}

.videoOptions{
  @include floating-box;
  padding: .2rem;

  p{
    padding: .3rem;
    border-radius: .3rem;
    transition: background-color $transition-time-short;
    cursor: pointer;

    &:hover{
      background-color: $gray-900;
    }
  }
}

div.bottom{
  display: flex;
}
