<div class="top">
  <p class="username">{{videoRequest.user.username}}</p>
  <h2 class="title">{{videoRequest.title}}</h2>
</div>

<p class="text">{{videoRequest.text}}</p>

<div class="bottom">
  <input
    type="text"
    placeholder="assign content"
    #videoInput
    [cdkMenuTriggerFor]="videoPopup"
    (keydown.backspace)="resetSelection()"
    (input)="generateContentOptions(videoInput.value)"
    (focus)="generateContentOptions('')"
    [value]="selectedVideo.title != undefined ? selectedVideo.title + ' • Video' : ''"
  >
  <ng-template #videoPopup>
    <div class="videoOptions" cdkMenu>
      @for(video of videoOptions; track video.contentId){
        <p (click)="setVideo(video); generateContentOptions(videoInput.value)">
          {{video.title}} • Video
        </p>
      }
      @if(videoOptions.length == 0){
        <p class="no-results">No content found</p>
      }
    </div>
  </ng-template>

  <button
    mat-flat-button
    color="secondary"
    [disabled]="selectedVideo.contentId == null"
    (click)="confirmClose(videoRequest, VideoRequestEnum.finished)"
    [matTooltip]="selectedVideo.contentId == null ? 'select a video to complete the request' : ''"
  >
    Mark as completed
  </button>

  <button
    mat-stroked-button
    color="secondary"
    (click)="confirmClose(videoRequest, VideoRequestEnum.declined)"
    class="decline"
  >
    Decline
  </button>
</div>
