@import "../../../variables";

:host{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: .1rem 1rem;
  transition: all .2s ease;
  color: $gray-400;
}

:host(:hover){
  background-color: $gray-800;
}

:host(.current){
  background-color: $primary-900;
  color: black;
}

:host(.current:hover){
  background-color: $primary-800;
}

:host(.current) fa-icon{
  color: $primary-500;
}

.message{
  display: flex;
  font-size: .9rem;
}


.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15ch;
  display: inline-block;
  vertical-align: center;
}

fa-icon{
  color: $gray-400;

  &.checked{
    font-size: 1.5rem;
  }
}
