<div class="message">
  @if(getType() === "update"){
    <p>{{ notification.triggeredByUser.username }} has updated a relevant video/learningpath • {{ contentNotification.content.title }}</p>
  }

  @else if(getType() === "assignment"){
    <p>New content assignment from {{ notification.triggeredByUser.username }} • {{ contentNotification.content.title }}</p>
  }

  @else if(getType() === "finishedRequest"){
    <p>{{ notification.triggeredByUser.username }} has marked your video request as Completed • {{ contentNotification.content.title }}</p>
  }

  @else if(getType() === "approved"){
    <p>{{ notification.triggeredByUser.username }} has approved your video • {{ contentNotification.content.title }}</p>
  }

  @else if(getType() === "videoCreateRequest"){
    <p>{{ notification.triggeredByUser.username }} has create a new content you should approve • {{ contentNotification.content.title }}</p>
  }

  @else if(getType() === "request"){
    <p>{{ notification.triggeredByUser.username }} has requested a video</p>
  }

  @else if(getType() === "text"){
    <p>{{ notification.triggeredByUser.username }} {{ textNotification.headerText }}</p>
  }

  @else if(getType() === "comment"){
    <p>{{ notification.triggeredByUser.username }} has posted a comment in {{ commentNotification.content.title }} • "</p><span class="truncate">{{ commentNotification.comment.text }}</span><p>"</p>
  }
</div>

<app-icon-button (click)="toggleDoneNotification()">
  @if(this.notification.done){
    <fa-icon [icon]="faRepeat"></fa-icon>
  } @else{
    <fa-icon [icon]="faCheck"></fa-icon>
  }
</app-icon-button>
