$primary-500: hsl(188, 79%, 19%);
$primary-600: hsl(188, 61%, 30%);

$secondary-100: hsl(31, 100%, 12%);
$secondary-500: hsl(31, 100%, 47%);
$secondary-600: hsl(31, 100%, 60%);
$secondary-700: hsl(31, 100%, 70%);
$secondary-800: hsl(31, 100%, 80%);
$secondary-900: hsl(31, 100%, 90%);

$gray-900: hsl(0, 0%, 95%);
$gray-850: hsl(0, 0%, 93.5%);
$gray-800: hsl(0, 0%, 92%);
$gray-600: hsl(0, 0%, 85%);
$gray-550: hsl(0, 0%, 75%);
$gray-500: hsl(0, 0%, 69%);
$gray-450: hsl(0, 0%, 65%);
$gray-400: hsl(0, 0%, 50%);
$gray-380: hsl(0, 0%, 43%);
$gray-300: hsl(0, 0%, 28%);
$gray-250: hsl(0, 0%, 22%);

$transition-time-short: .15s;
$transition-time-default: .3s;
$transition-time-long: .5s;

@mixin floating-box {
  background-color: white;
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid $gray-500;
  border-radius: 0.4rem;
  overflow: hidden;
}
