$primary-500: hsl(188, 79%, 19%);

$secondary-500: hsl(31, 100%, 47%);
$secondary-600: hsl(31, 100%, 60%);
$secondary-700: hsl(31, 100%, 70%);
$secondary-800: hsl(31, 100%, 80%);
$secondary-900: hsl(31, 100%, 90%);

$gray-900: hsl(0, 0%, 95%);
$gray-800: hsl(0, 0%, 92%);
$gray-600: hsl(0, 0%, 85%);
$gray-500: hsl(0, 0%, 69%);
$gray-300: hsl(0, 0%, 28%);
$gray-250: hsl(0, 0%, 22%);

$transition-time-short: .15s;
$transition-time-default: .3s;
$transition-time-long: .5s;
