@if(videoFile.videoFileId < 0){
  <div
    class="upload-video"
    (dragover)="dragOverHandler($event)"
    (dragleave)="dragLeaveHandler($event)"
    (drop)="dropHandler($event)"
    (click)="fileInput.click()"
    [ngClass]="{dragOver: draggingFile}"
  >
    <div class="icon">
      <fa-icon [icon]="faArrowUpFromBracket"></fa-icon>
    </div>
    <p>drop file or click here to upload</p>
  </div>
} @else if (videoFile.videoFileId == 0){
  <div class="upload-video">
    <p class="progressPercent">{{uploadProgress}}%</p>
    @if(uploadProgress < 100){
      <p>uploading video</p>
    }
    @else{
      <p>processing Video<app-dot-loader></app-dot-loader></p>
    }
    <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
    <!--<button mat-button>cancel upload</button>-->
  </div>
} @else if (videoFile.videoFileId > 0){
  <div
    class="upload-video replace"
    (dragover)="dragOverHandler($event);"
    (drop)="confirmDropReplacement($event);"
    (click)="confirmClickReplacement()"
  >
    <div class="icon">
      <fa-icon [icon]="faArrowUpFromBracket"></fa-icon>
    </div>
    <p>click here, to replace existing video</p>
  </div>
  <p class="info">
    @if(videoFile.durationSeconds) {
      {{ Utils.toTimeDurationString(videoFile.durationSeconds) }}
    }
    @if(videoFile.sizeBytes) {
      • {{ Utils.roundNumber(videoFile.sizeBytes/1000/1000, 2) }}mb
    }
    @if(videoFile.timestamp){
      • {{ Utils.toFullDateTimeString(videoFile.timestamp) }}
    }
  </p>
}

<input
  class="fileinput"
  type="file"
  (change)="onFileChange($event)"
  accept=".mp4,.avi,.mov"
  #fileInput
/>
