@import "../../../variables";

:host{
  border-radius: 0.5rem;
  background-color: $gray-800;
  height: 1.75rem;
  display: flex;
  align-items: center;
}

p {
  font-size: 0.75rem;
  margin-inline: .3rem;
  white-space: nowrap;
}

app-icon-button{
  font-size: 1rem;
  margin-left: -.5rem;
}
