@import "../../variables";

:host{
  background-color: $primary-500;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: .25rem;
  padding-inline: .25rem;
  color: white;
}

img{
  height: 1.8rem;
  margin-left: .5rem;
}

fa-icon{
  color: white;
  font-size: 1.2rem;
}

.right{
  display: flex;
}

div.search{
  display: flex;
  align-items: center;
  width: 20vw;
  background-color: $primary-600;
  border-radius: .3rem;

  input{
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;

    &::placeholder {
      color: $gray-900;
      font-weight: lighter;
      font-size: .9rem;
    }
  }

  fa-icon{
    color: $gray-900;
    font-size: 1rem;

    &.search {
      margin-right: .5rem;
    }
  }
}

.menu{
  @include floating-box;
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;

  div{
    display: flex;
    gap: .35rem;
    padding: .35rem .5rem;
    cursor: pointer;

    &:hover{
      background-color: $gray-800;
    }
  }

  fa-icon{
    color: $secondary-500;
    font-size: 1rem;
    width: 1.3rem;
  }

  app-learning-path-icon{
    color: $secondary-500;
    height: 1rem;
    width: 1.3rem;
  }

  mat-divider{
    margin: .3rem;
    --mat-divider-color: #{$gray-500};
  }
}
