<p>logo</p>

@if(simple){
  <a routerLink="/">Back to the Dashboard</a>
} @else {
  <app-textfield [label]="''" [placeholder]="'Search for a Video'" (valueChange)="search.emit($event)"></app-textfield>
}

<div class="right">
  <app-icon-button>
    <fa-icon [icon]="faBell"></fa-icon>
  </app-icon-button>

  <app-icon-button [cdkMenuTriggerFor]="menu">
    <fa-icon [icon]="faCircleUser" class="userIcon"></fa-icon>
  </app-icon-button>

  <ng-template #menu>
    <div class="menu" cdkMenu>
      <div routerLink="/account/settings" (click)="closeMenu()">
        <fa-icon [icon]="faGear"></fa-icon>
        <p>Settings</p>
      </div>

      <div routerLink="/account/my-content" (click)="closeMenu()">
        <fa-icon [icon]="faCirclePlay"></fa-icon>
        <p>My Content</p>
      </div>

      <div routerLink="/account/manage-users" (click)="closeMenu()">
        <fa-icon [icon]="faUsersGear"></fa-icon>
        <p>Manage Users</p>
      </div>
    </div>
  </ng-template>
</div>

