<img src="../../../assets/Iptor_multiflex_ACADEMY_logo_white_orange_cmyk.svg" alt="iptor multiflex academy">

@if(simple){
  <a routerLink="/">Back to the Dashboard</a>
} @else {
  <div class="search">
    <input placeholder="Search for a Video" (input)="search.emit(searchInput.value)" #searchInput>
    @if(searchInput.value != ''){
      <app-icon-button (click)="searchInput.value = ''; search.emit('')">
        <fa-icon [icon]="faXmark"></fa-icon>
      </app-icon-button>
    }
    @else{
      <fa-icon class="search" [icon]="faMagnifyingGlass"></fa-icon>
    }
  </div>
}

<div class="right">
  <app-icon-button>
    <fa-icon [icon]="faBell"></fa-icon>
  </app-icon-button>

  <app-icon-button [cdkMenuTriggerFor]="menu">
    <fa-icon [icon]="faCircleUser" class="userIcon"></fa-icon>
  </app-icon-button>

</div>

<ng-template #menu>
  <div class="menu" cdkMenu>
    <div routerLink="/account/my-videos" (click)="closeMenu()">
      <fa-icon [icon]="faCirclePlay"></fa-icon>
      <p>My Videos</p>
    </div>

    <div routerLink="/account/my-learningpaths" (click)="closeMenu()">
      <app-learning-path-icon></app-learning-path-icon>
      <p>My Learningpaths</p>
    </div>

    <div routerLink="/account/manage-users" (click)="closeMenu()">
      <fa-icon [icon]="faUsersGear"></fa-icon>
      <p>Manage Users</p>
    </div>

    <mat-divider></mat-divider>

    <div routerLink="/login" (click)="closeMenu();logout()">
      <fa-icon [icon]="faRightFromBracket"></fa-icon>
      <p>Logout</p>
    </div>
  </div>
</ng-template>
