<p>logo</p>

@if(simple){
  <a routerLink="/">Zurück zum Dashboard</a>
} @else {
  <p>Search for a Video</p>
}

<div class="right">
  <app-icon-button>
    <fa-icon [icon]="faBell"></fa-icon>
  </app-icon-button>

  <app-icon-button [cdkMenuTriggerFor]="menu">
    <fa-icon [icon]="faCircleUser" class="userIcon"></fa-icon>
  </app-icon-button>

  <ng-template #menu>
    <div class="menu" cdkMenu>
      <div routerLink="/account/settings">
        <fa-icon [icon]="faGear"></fa-icon>
        <p>Settings</p>
      </div>

      <div routerLink="/account/my-content">
        <fa-icon [icon]="faCirclePlay"></fa-icon>
        <p>My Content</p>
      </div>

      <div routerLink="/account/manage-users">
        <fa-icon [icon]="faUsersGear"></fa-icon>
        <p>Manage Users</p>
      </div>
    </div>
  </ng-template>
</div>

