@import "../variables";

section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
}

div{
  display: flex;
  padding: 0.1875rem 0rem;
  align-items: flex-end;
  gap: 0.25rem;
}
