<div class="commentList">
  @if (comments && comments.length === 0){
    <p class="no-comments">Be the first to leave a comment!</p>
  }

  @for (comment of comments; track comment.commentId){
    <app-video-comment [comment]="comment" [videoId]="videoId" (update)="updateComments()" [videoOwnerId]="videoOwnerId"></app-video-comment>
  }
</div>

<div class="post-bar">
  <app-textfield [maxLength]="2000" [label]="''" placeholder="Your comment ..." (keydown)="keyDownFunction($event)" [(value)]="commentInputText"></app-textfield>
  <!--<input (keydown)="keyDownFunction($event)" type="text" placeholder="Your comment ..." [(ngModel)]="commentInputText">-->
  <button (click)="postComment()" mat-flat-button color="secondary">Post</button>
</div>
