<label>tags:</label>
<div class="tagList">
  @for(tag of selectedTags; track tag.tagId){
    <app-chip [removable]="true" (onRemove)="removeTag(tag)">{{tag.name}}</app-chip>
  }
  <input
    type="text"
    placeholder="add tag"
    [cdkMenuTriggerFor]="tagPopup"
    (input)="generateTagOptions(tagInput.value); openTagPopup()"
    (focus)="generateTagOptions('')"
    #tagInput
  >
</div>

<ng-template #tagPopup>
  <div class="tagOptions" cdkMenu>
    @for(tag of tagOptions; track tag.tagId){
      <app-chip (click)="addTag(tag)" [deletable]="true" (onDelete)="deleteTag(tag)">{{tag.name}}</app-chip>
    }
    @if(tagInput.value.length >= 2){
      <button mat-flat-button color="secondary" (click)="createTag(tagInput.value)">Create tag {{tagInput.value}}</button>
    }
    @else if(tagOptions.length == 0){
      <p class="no-results">No tags found</p>
    }
  </div>
</ng-template>

