@import "../../../variables";

:host{
  background-color: $primary-500;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: .25rem;
  padding-inline: .25rem;
  color: white;
  height: fit-content;
  overflow-y: hidden;
}

img{
  height: 1.8rem;
  margin-left: .5rem;
}

fa-icon{
  color: white;
  font-size: 1.2rem;
}

.right{
  display: flex;

  ::ng-deep .mat-badge-content{
    --badge-border-color: #{$primary-500};
    translate: -.4rem .4rem;
  }
}

div.search{
  display: flex;
  align-items: center;
  width: max(20vw, 30ch);
  background-color: $primary-600;
  border-radius: .3rem;
  transition: background-color $transition-time-default, border $transition-time-default;
  border: 1px solid transparent;

  &:hover{
    background-color: $primary-620;
    border-color: $gray-500;
  }

  input{
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;

    &::placeholder {
      color: $gray-900;
      /*
      font-weight: lighter;
      */
      font-size: .9rem;
    }
  }

  fa-icon{
    color: $gray-900;
    font-size: 1rem;

    &.search {
      margin-right: .5rem;
    }
  }
}

.menu{
  @include floating-box;
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;

  .menuItem{
    display: flex;
    gap: .5rem;
    padding: .5rem .5rem;
    cursor: pointer;
    align-items: center;

    &:hover{
      background-color: $gray-800;
    }
  }

  .icon-container{
    width: 1.5rem;
    display: flex;
    justify-content: center;

    fa-icon{
      color: $secondary-500;
      font-size: 1.2rem;
    }

    app-learning-path-icon{
      color: $secondary-500;
      height: 1.2rem;
    }
  }

  mat-divider{
    margin: .3rem;
    --mat-divider-color: #{$gray-500};
  }

  .not-available{
    width: 20ch;
    padding: .5rem;
    color: $gray-300;
  }

  .top{
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .top.disabled{
    background-color: $gray-900;
    pointer-events: none;

    &::before{
      content: "Please use a bigger screen to access these pages";
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.52);
      padding: .2rem;
      width: 75%;
      backdrop-filter: blur(20px);
      border-radius: .5rem;
      box-shadow: 0 0 .1rem .1rem rgba(0, 0, 0, 0.2);
    }

    *{
      pointer-events: none;
      user-select: none;
    }

    .menuItem{
      color: gray;
    }

    fa-icon, .icon{
      color: $secondary-800;
    }
  }
}

.notifications{
  @include floating-box;
  margin-top: .5rem;
}
.switch{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: .5rem;

  p{
    cursor: pointer;
  }
}

.info{
  font-size: .8rem;
  color: $gray-400;
  margin-bottom: .2rem;
  max-width: 100%;
  overflow-x: hidden;
  text-align: center;
}

@media screen and (max-width: 900px) {
  img{
    display: none;
  }

  div.search{
    width: 100%;
  }

  :host{
    padding-left: 3rem;
  }
}
