@import "../../../variables";

:host{
  background-color: $primary-500;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: .25rem;
  padding-inline: .25rem;
  color: white;
  height: fit-content;
  overflow-y: hidden;
}

img{
  height: 1.8rem;
  margin-left: .5rem;
}

fa-icon{
  color: white;
  font-size: 1.2rem;
}

.right{
  display: flex;
}

div.search{
  display: flex;
  align-items: center;
  width: max(20vw, 30ch);
  background-color: $primary-600;
  border-radius: .3rem;
  transition: background-color $transition-time-default, border $transition-time-default;
  border: 1px solid transparent;

  &:hover{
    background-color: $primary-620;
    border-color: $gray-500;
  }

  input{
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;

    &::placeholder {
      color: $gray-900;
      font-weight: lighter;
      font-size: .9rem;
    }
  }

  fa-icon{
    color: $gray-900;
    font-size: 1rem;

    &.search {
      margin-right: .5rem;
    }
  }
}

.menu{
  @include floating-box;
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;

  > div{
    display: flex;
    gap: .5rem;
    padding: .5rem .5rem;
    cursor: pointer;
    align-items: center;

    &:hover{
      background-color: $gray-800;
    }
  }

  .icon-container{
    width: 1.5rem;
    display: flex;
    justify-content: center;

    fa-icon{
      color: $secondary-500;
      font-size: 1.2rem;
    }

    app-learning-path-icon{
      color: $secondary-500;
      height: 1.2rem;
    }
  }


  mat-divider{
    margin: .3rem;
    --mat-divider-color: #{$gray-500};
  }
}

.notifications{
  @include floating-box;
  padding: .5rem;
}

@media screen and (max-width: 900px) {
  img{
    display: none;
  }

  div.search{
    width: 100%;
  }

  :host{
    padding-left: 3rem;
  }
}
