<img src="../../../assets/Iptor_multiflex_ACADEMY_logo_white_orange_cmyk.svg" alt="iptor multiflex academy">

@if(simple){
  <a routerLink="/">Back to the Dashboard</a>
} @else {
  <div class="search">
    <input placeholder="Search for a Video" (input)="search.emit(searchInput.value)" #searchInput>
    @if(searchInput.value != ''){
      <app-icon-button (click)="searchInput.value = ''; search.emit('')">
        <fa-icon [icon]="faXmark"></fa-icon>
      </app-icon-button>
    }
    @else{
      <fa-icon class="search" [icon]="faMagnifyingGlass"></fa-icon>
    }
  </div>
}

<div class="right">
  <app-icon-button [cdkMenuTriggerFor]="notifications">
    <fa-icon [icon]="faBell"></fa-icon>
  </app-icon-button>

  <app-icon-button [cdkMenuTriggerFor]="menu">
    <fa-icon [icon]="faCircleUser" class="userIcon"></fa-icon>
  </app-icon-button>

</div>

<ng-template #notifications>
  <div class="notifications" cdkMenu>
    @if(notificationList.length === 0){
      <p class="no-results">No new notifications</p>
    }
    @for(notification of notificationList; track notification.notificationId){
      <app-notification [notification]="notification"></app-notification>
    }
  </div>
</ng-template>

<ng-template #menu>
  <div class="menu" cdkMenu>
    @if(userService.currentUser.value.userRole == UserRoleEnum.ADMIN || userService.currentUser.value.userRole == UserRoleEnum.EMPLOYEE){
      <div routerLink="/account/my-videos" (click)="closeMenu()">
        <div class="icon-container">
          <fa-icon [icon]="faCirclePlay"></fa-icon>
        </div>
        <p>My Videos</p>
      </div>

      <div routerLink="/account/my-learningpaths" (click)="closeMenu()">
        <div class="icon-container">
          <app-learning-path-icon></app-learning-path-icon>
        </div>
        <p>My Learningpaths</p>
      </div>

      <div routerLink="/account/manage-users" (click)="closeMenu()">
        <div class="icon-container">
          <fa-icon [icon]="faUsersGear"></fa-icon>
        </div>
        <p>Manage Users</p>
      </div>

    <div routerLink="/account/video-requests">
      <div class="icon-container">
        <fa-icon [icon]="faFileVideo" class="fileIcon"></fa-icon>
      </div>
      <p>Video Requests</p>
    </div>

    <mat-divider></mat-divider>
  }

    <div (click)="requestVideo()">
      <div class="icon-container">
        <fa-icon [icon]="faUserPlus"></fa-icon>
      </div>
      <p>Request a Video</p>
    </div>

    <mat-divider></mat-divider>

    <div routerLink="/login" (click)="closeMenu(); logout()">
      <div class="icon-container">
        <fa-icon [icon]="faRightFromBracket"></fa-icon>
      </div>
      <p>Logout</p>
    </div>
  </div>
</ng-template>
