@import "../variables";

main{
  display: flex;
  margin-left: 10rem;
  margin-block: 2.5rem;
}

.sidebar div{
  display: flex;
  justify-content: left;
  padding: .25rem;
  align-items: center;
  gap: .4rem;
  cursor: pointer;
  border-radius: 0.3125rem;

  fa-icon{
    font-size: 1.5rem;
  }

  &.active{
    background: $gray-800;

    fa-icon{
      color: $secondary-500;
    }
  }
}

section{
  width: 100%;
}
