@import "../variables";

:host{
  border-radius: .5rem;
  overflow: hidden;
  display: block;
  border: .1rem $gray-600 solid;
  width: 20vw;
}

.header{
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: $gray-900;
  padding: .5rem;
  border-bottom: .1rem $gray-600 solid;

  h2{
    font-size: 1rem;
  }
}

app-play-icon{
  height: 2rem;
}

app-bookmark-icon{
  margin-left: auto;
}

.main{
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;

  p{
    font-size: .9rem;
  }
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}


.tags{
  display: flex;
  gap: .5rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 1rem;
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0%, hsl(0,0%,100%) 100%);
    right: 0;
  }
}
