<div class="header">
  <app-play-icon color="{{video.color}}"></app-play-icon>
  <h2>{{ video.title }}</h2>
  <div class="actions">
    @if(removable){
      <app-icon-button (click)="removeSuggestion($event)">
        <app-remove-icon></app-remove-icon>
      </app-icon-button>
    }
    <app-icon-button (click)="addToBookmarks($event)">
      <app-bookmark-icon #bookmark></app-bookmark-icon>
    </app-icon-button>
  </div>
</div>

@if(progress){
  <div class="progress-bar"><span [style.width.%]="this.progress.durationSeconds / this.video.durationSeconds * 100"></span></div>
}

<div class="main">
  <p>{{video.description}}</p>

  <div class="bottom">
    <div class="tags"
         matTooltip="{{ toolTipString }}"
         matTooltipShowDelay="500"
    >
      @for (tag of video.tags; track tag) {
        <app-chip>{{ tag.name }}</app-chip>
      }
    </div>
    <p>
      @if(progress){
      {{calculateTimeFromSeconds(progress?.durationSeconds || 0)}} von
      }
      {{calculateTimeFromSeconds(video.durationSeconds)}}
    </p>
  </div>
</div>
