<div class="top">
  <input type="text" placeholder="Search for a Tag">
  <div
    class="flip-button"
    (click)="isOpenState = !isOpenState"
    matBadge="{{selectedTags.length}}"
    matBadgeSize="large"
    [matBadgeHidden]="isOpenState || selectedTags.length == 0"
    matBadgeDescription="dislays how many tags are selected even with the sidebar closed"
  >
    <div class="ripples" mat-ripple>
      <fa-icon [icon]="faAnglesLeft"></fa-icon>
    </div>
  </div>
</div>

<div class="tags">
  @for(tag of tags; track tag.tagId){
    <app-chip (click)="updateFilter(tag);" [ngClass]="isSelected(tag) ? 'selected' : ''">{{ tag.name }}</app-chip>
  }
</div>
