<h2>Description</h2>
<section class="basics">
  <div class="left">
    <app-textfield
      [(value)]="video.title"
      label="Title"
      placeholder="My amazing tutorial"
    ></app-textfield>

    <app-textfield
      [(value)]="video.description"
      label="Description"
      placeholder="In this tutorial you will learn..."
      [rows]="5"
    ></app-textfield>
  </div>
  <app-upload-video
    [videoFile]="video.videoFile ? video.videoFile : {videoFileId: -1}"
    (uploadFinished)="videoFileUpdated($event)"
  ></app-upload-video>
</section>

<h2 class="details">Details</h2>
<section class="details">
  <div>
    <p>video-color:</p>
    <input type="color" [value]="video.color" (input)="colorUpdated()" #color>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <div>
    <p>visibility:</p>
    <app-dropdown [selectedId]="video.visibility" (optionSelected)="visibilityUpdated($event)" [options]="Utils.visibilityEnumAsDropdownOption()"></app-dropdown>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <div>
    <p>tags:</p>
    <input type="text">
  </div>
</section>

<h2>Questions</h2>
<section class="questions">
  <div class="left">
    @for (question of video.questions; track question.questionId){
      <p>
        <span>{{ $index + 1 }}.</span>
        <span>{{ question.text }}</span>
      </p>
    }
    <button>
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>
  <div class="right">
    <input type="text" class="question">
    @for(answer of selectedQuestion.answerOptions; track answer.answerOptionId){
      <app-answer-option [answer]="answer"></app-answer-option>
    }
  </div>
</section>

<div class="bottom">
  <button (click)="close()" mat-stroked-button color="secondary">close</button>
  <button (click)="saveChanges()" mat-flat-button color="secondary">save changes</button>
</div>
