<h2>Description</h2>
<section class="basics">
  <div class="left">
    <app-textfield
      [(value)]="video.title"
      label="Title"
      placeholder="My amazing tutorial"
    ></app-textfield>

    <app-textfield
      [(value)]="video.description"
      label="Description"
      placeholder="In this tutorial you will learn..."
      [rows]="5"
    ></app-textfield>
  </div>
  <app-upload-video
    [videoFile]="video.videoFile ? video.videoFile : {videoFileId: -1}"
    (uploadFinished)="videoFileUpdated($event)"
  ></app-upload-video>
</section>

<h2 class="details">Details</h2>
<section class="details">
  <div>
    <p>video-color:</p>
    <input type="color" [value]="video?.color" (input)="colorUpdated(color.value)" #color>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <div>
    <p>visibility:</p>
    @if(video.approved){
      <app-dropdown [selectedId]="video.visibility" (optionSelected)="visibilityUpdated($event)" [options]="Utils.visibilityEnumAsDropdownOption()"></app-dropdown>
    } @else{
      {{video.visibility}}
    }
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <app-tag-selector [(selectedTags)]="video.tags"></app-tag-selector>
</section>

<h2>Questions</h2>
<section class="questions">
  <div class="left">
    @for (question of video.questions; track question.questionId){
      <p
        [class]="question.questionId == selectedQuestion?.questionId ? 'selected' : ''"
        (click)="selectedQuestion = question"
      >
        <span class="number">{{ $index + 1 }}.</span>
        <span>{{ question.text }}</span>
      </p>
    }
    @if(video?.questions?.length == 0){
      <p class="no-results">Start by creating a Question</p>
    }
    <button (click)="addQuestion()">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="right">
    @if(selectedQuestion != undefined){
      <div class="questionTitle">
        <input type="text" class="question" placeholder="Question" [value]="selectedQuestion.text" (input)="questionTitleUpdated(questionTitle.value)" #questionTitle>
        <app-icon-button (click)="removeQuestion()" matTooltip="delete question" matTooltipShowDelay="500">
          <fa-icon [icon]="faTrash"></fa-icon>
        </app-icon-button>
      </div>
      <div class="scrollable">
        @for (answer of selectedQuestion.answerOptions; track answer.answerOptionId) {
          <app-answer-option
            [answer]="answer"
            (answerChange)="answerUpdated(answerComponent.answer, $index)"
            [letter]="Utils.numberToLetter($index)"
            (remove)="removeAnswer($index)"
            #answerComponent
          ></app-answer-option>
        }
        <button (click)="addAnswerOption()">add answer</button>
      </div>
    }
    @else {
      <p class="no-results">No Question selected</p>
    }
  </div>
</section>

<div class="bottom">
  <button (click)="close()" mat-stroked-button color="secondary">close</button>
  <button (click)="saveChanges()" mat-flat-button color="secondary">save changes</button>
</div>
