@import "../../../variables";

:host{
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
  border-radius: 0.5rem;
  background-color: white;
  height: 100%;
}

h2{
  font-weight: 500;
  margin-block: .5rem;
  font-size: 1.1rem;

  &.details {
    margin-bottom: 0;
  }
}

section{
  padding-left: .5rem;
}

section.basics{
  display: flex;
  gap: 1.5rem;

  .left{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
  }

  app-upload-video{
    margin-top: 1.2rem;
  }
}

section.details{
  display: flex;
  align-items: center;
  gap: 1rem;

  > div{
    display: flex;
    align-items: center;
    gap: .5rem;

    p{
      font-weight: 500;
      white-space: nowrap;
    }
  }

  mat-divider{
    height: 2rem;
  }

  .tags{
    flex-grow: 1;

    .tagList{
      width: 100%;
      display: flex;
      gap: .5rem;
      flex-wrap: wrap;
      align-items: center;

      border-radius: .4rem;
      border: 2px solid $gray-500;
      padding: .1rem .3rem;
    }

    input{
      border: none;
      flex-grow: 1;
      font-size: .9rem;
    }
  }
}

.tagOptions{
  @include floating-box;
  padding: .4rem;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-top: .2rem;

  .no-results{
    font-size: .9rem;
  }

  app-chip{
    cursor: pointer;
  }
}

section.questions{
  display: flex;
  gap: 1rem;
  height: fit-content;

  .left{
    display: flex;
    flex-direction: column;
    gap: .2rem;

    p{
      max-width: 20ch;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding: .2rem .3rem;
      border-radius: .2rem;
      cursor: pointer;
      user-select: none;

      &.selected{
        background-color: $gray-800;
      }

      span.number{
        min-width: 2ch;
        display: inline-block;
      }
    }
  }

  .right{
    width: 100%;
    height: 300px;

    .scrollable{
      height: 100%;
      overflow-y: auto;
      padding-right: 1rem;
    }

    input.question{
      border-radius: 0;
      border: none;
      border-bottom: 2px solid $gray-500;
      width: 100%;
      margin-bottom: 1rem;
    }

    button{
      margin: {
        top: .5rem;
        left: 56px; /*sorry for the magic number.. if its not appreciated in the future, one could modify the answer-option
        to have a property that adds a flexbox around the textfield which could align the button*/
      }
    }
  }

  button{
    margin-top: auto;
    border: none;
    background-color: $gray-600;
    padding: .3rem .8rem;
    border-radius: .3rem;
    transition: background-color $transition-time-short;
    cursor: pointer;

    &:hover, &:focus-visible{
      background-color: $gray-550;
    }

    fa-icon{
      font-size: 1.2rem;
    }
  }
}

.bottom{
  margin-top: auto;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
