@import "../../../variables";

:host{
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
  border-radius: 0.5rem;
  background-color: white;
  height: 100%;
}

h2{
  font-weight: 500;
  margin-block: .5rem;
  font-size: 1.1rem;

  &.details {
    margin-bottom: 0;
  }
}

section{
  padding-left: .5rem;
}

section.basics{
  display: flex;
  gap: 1.5rem;

  .left{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
  }

  app-upload-video{
    margin-top: 1.2rem;
  }
}

section.details{
  display: flex;
  align-items: center;
  gap: 1rem;

  > div{
    display: flex;
    align-items: center;
    gap: .5rem;

    p{
      font-weight: 500;
    }
  }
}

section.questions{
  display: flex;
}

.bottom{
  margin-top: auto;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
