<app-navigation (search)="processSearch($event)"></app-navigation>

<main>
  <app-filter-sidebar (updateFilterEmitter)="filterTags = $event; loadContent();"></app-filter-sidebar>

  <div class="content">
    @if(isSearchContent){
      <div class="video-row">
        @if(content && content.current){
          @for(video of content.current.videos; track video.contentId){
            <app-video-overview [video]="video" (updateDashboard)="updateVideoDashboard($event)" [removable]="true"></app-video-overview>
          }
          @for(learningPath of content.current.learningPaths; track learningPath.contentId){
            <app-learning-path-overview [learningPath]="learningPath" (updateDashboard)="updateLearningPathDashboard($event)" [removable]="true"></app-learning-path-overview>
          }
        }
        @if(content?.current?.videos?.length == 0 && content?.current?.learningPaths?.length == 0){
          <p class="no-results">no results found</p>
        }
      </div>
    } @else {
      <p>Continue Watching</p>
      <div class="video-row">
        @if(content && content.current){
          @for(video of content.current.videos; track video.contentId){
            <app-video-overview [video]="video" (updateDashboard)="updateVideoDashboard($event)" [removable]="true"></app-video-overview>
          }
          @for(learningPath of content.current.learningPaths; track learningPath.contentId){
            <app-learning-path-overview [learningPath]="learningPath" (updateDashboard)="updateLearningPathDashboard($event)" [removable]="true"></app-learning-path-overview>
          }
        }
        @if(content?.current?.videos?.length == 0 && content?.current?.learningPaths?.length == 0){
          <p class="no-results">no results found</p>
        }
      </div>

      <p>Assigned Content</p>
      <div class="video-row">
        @if(content && content.assigned){
          @for(video of content.assigned.videos; track video.contentId){
            <app-video-overview [video]="video" (updateDashboard)="updateVideoDashboard($event)"></app-video-overview>
          }
          @for(learningPath of content.assigned.learningPaths; track learningPath.contentId){
            <app-learning-path-overview [learningPath]="learningPath" (updateDashboard)="updateLearningPathDashboard($event)"></app-learning-path-overview>
          }
        }
        @if(content?.assigned?.videos?.length == 0){
          <p class="no-results">no results found</p>
        }
      </div>

      <p>Suggested Videos</p>
      <div class="video-row">
        @if(content && content.suggested){
          @for(video of content.suggested.videos; track video.contentId){
            <app-video-overview [video]="video" (updateDashboard)="updateVideoDashboard($event)"></app-video-overview>
          }
        }
        @if(content?.suggested?.videos?.length == 0){
          <p class="no-results">no results found</p>
        }
      </div>

      <p>Suggested learning paths</p>
      <div class="video-row">
        @if(content && content.suggested){
          @for(learningPath of content.suggested.learningPaths; track learningPath.contentId){
            <app-learning-path-overview [learningPath]="learningPath" (updateDashboard)="updateLearningPathDashboard($event)"></app-learning-path-overview>
          }
        }
        @if(content?.suggested?.learningPaths?.length == 0){
          <p class="no-results">no results found</p>
        }
      </div>
    }
  </div>
</main>

