@import "../../../variables";

:host{
  background-color: $primary-500;
  display: grid;
  height: 100%;
  place-items: center;

  color: white;
}

form{
  display: flex;
  flex-direction: column;
  width: clamp(20vw, 300px, 90%);
  background-color: $primary-600;
  border-radius: .5rem;
  padding: 1rem;

  h1{
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 1rem;
    text-align: center;
  }

  input{
    width: 100%;
    background-color: hsla(0, 0%, 100%, .3);
    border: none;
    color: white;

    &::placeholder{
      color: $gray-600;
    }
  }

  div.error{
    height: 1.3rem;
    margin-top: .1rem;

    span{
      font-size: .8rem;
      color: $gray-600;
    }

    p{
      font-size: .9rem;
    }
  }

  button{
    background-color: white;
    color: black;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: .2rem;

    &:hover{
      background-color: $gray-900;
    }
  }
  .bottom{
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    a{
      font-size: .9rem;
      color: $gray-600;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

nav{
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  padding: .5rem;
  background-color: hsla(0, 0%, 0%, 10%);

  img{
    height: 2rem;
  }
}
