<div class="user" *ngIf="!root">
  <div class="top" (click)="toggle()">
    @if (user.userId != this.userService.currentUser.value.userId) {
      <p class="username">{{ user.username }}</p>
    }
    <fa-icon [icon]="faAngleDown" [ngClass]="isExpanded ? 'rotate' : ''"></fa-icon>
  </div>

  @if (isExpanded) {
    <div class="content">
      @for (content of assignedContent; track content.contentId) {
        <div class="content-entry" [style.--color]="content.color" [ngClass]="content.isFinished ? 'finished' : ''">
          @if (content.type == "Video") {
            @if(content.isFinished){
              <fa-icon class="list-icon" [icon]='faCircleCheck'></fa-icon>
            } @else {
              <fa-icon class="list-icon" [icon]='faCirclePlay'></fa-icon>
            }
            <p class="title">{{ content.title }}</p>
            @if(content.isFinished){
              <p class="progress">completed</p>
            } @else{
              <p class="progress" matTooltip="{{Utils.roundNumber(content.progress, 1)}}%" matTooltipShowDelay="500">{{ Utils.roundNumber(content.progress, 1) }}% watched</p>
            }
            <p class="type">video</p>
            <p class="questions">{{content.questionOrVideoCount}} questions</p>
          } @else {
            @if(content.isFinished){
              <fa-icon class="list-icon" [icon]='faSquareCheck'></fa-icon>
            } @else {
              <app-learning-path-icon></app-learning-path-icon>
            }
            <p class="title">{{ content.title }}</p>
            @if(content.isFinished){
              <p class="progress">completed</p>
            } @else{
              <p class="progress" matTooltip="{{ content.progress }}/{{content.questionOrVideoCount}}" matTooltipShowDelay="500">{{ content.progress }}/{{content.questionOrVideoCount}} completed</p>
            }
            <p class="type">learning path</p>
            <p class="questions">{{content.questionOrVideoCount}} videos</p>
          }


          <app-icon-button (click)="unassignContent(content.contentId)" class="remove">
            @if(content.isFinished){
              <fa-icon [icon]="faX"></fa-icon>
            }@else {
              <fa-icon [icon]="faTrash"></fa-icon>
            }
          </app-icon-button>
        </div>
      }

      @if (assignedContent?.length == 0) {
        <div>
          <p class="no-results">No content yet</p>
        </div>
      }

      <input
        type="text"
        placeholder="assign content"
        #videoInput
        [cdkMenuTriggerFor]="videoPopup"
        (input)="generateContentOptions(videoInput.value)"
        (focus)="generateContentOptions('')"
      >
      <ng-template #videoPopup>
        <div class="videoOptions" cdkMenu>
          @for (content of contentOptions; track content.contentId) {
            <p (click)="assignContent(content)" class="option">
              {{ content.title }} • {{ content.type }}
            </p>
          }
          @if (contentOptions.length == 0) {
            <p class="no-results">No content found</p>
          }
        </div>
      </ng-template>
    </div>
  }
</div>

@for(subordinate of subordinates; track subordinate.userId){
  <app-manage-user-field [user]="subordinate" [subordinates]="subordinate.subordinates" [level]="subordinate.level"></app-manage-user-field>
}
