@import "../variables";

main{
  width: 80%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top{
  display: flex;
  gap: 2rem;
  margin-top: 3rem;

  img{
    /*width: min(50vw, 600px);*/
    height: 40vh;
    border-radius: 1rem;
  }

  .right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  h1{
    font-size: 1.5rem;
  }


  .description{
    font-size: .9rem;
    line-height: 120%;
  }

  .actions{
    display: flex;
    align-items: center;
    gap: .5rem;
  }
}

.bottom{
  display: flex;
  flex-direction: column;

  .tab-selector{
    display: flex;
    gap: 1rem;
    padding-left: 3rem;
    border-bottom: .2rem $gray-600 solid;
    position: relative;

    p {
      padding: .8rem;
      margin-bottom: -.5rem;
      cursor: pointer;
      user-select: none;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        cursor: pointer;
        z-index: -5;
        opacity: 0;
        transition: opacity $transition-time-short;
        border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;
        background-color: $gray-900;
        inset: .5rem;
      }

      &:hover {
        &::before{
          opacity: 1;
        }
      }
    }

    .marker{
      position: absolute;
      bottom: 0;
      height: .2rem;
      background-color: $secondary-500;
      transition: left .2s, width .2s;
      translate: 0 .2rem;
    }
  }
}
