<div class="header">
  <app-learning-path-icon [style.color]="learningPath.color"></app-learning-path-icon>
  <div class="title">
    <p>Learning Path</p>
    <h2>{{ learningPath.title }}</h2>
  </div>
  <div class="actions">
    @if(removable && !learningPath.saved){
      <app-icon-button
        (click)="removeSuggestion($event)"
        matTooltip="Remove from this list"
        matTooltipShowDelay="500"
      >
        <app-remove-icon></app-remove-icon>
      </app-icon-button>
    }
    <app-icon-button
      (click)="addToBookmarks($event)"
      matTooltip="Keep in 'continue watching'"
      matTooltipShowDelay="500"
    >
      <app-bookmark-icon #bookmark [marked]="learningPath.saved"></app-bookmark-icon>
    </app-icon-button>
  </div>
</div>

@if(learningPath.viewProgress){
  <div class="progress-bar">
    @for(video of videoProgress; track video) {
      <span
        [style.background-color]="getProgressBarColor(video)"
      ></span>
    }
  </div>
}

<div class="main">
  <p>{{Utils.truncateText(learningPath.description, 100)}}</p>

  <div class="bottom">
    <div class="tags"
         matTooltip="{{ tagToolTipString }}"
         matTooltipShowDelay="500"
    >
      @for (tag of learningPath.tags; track tag.tagId) {
        <app-chip>{{ tag.name }}</app-chip>
      }
    </div>
    <p>{{learningPath.videoCount}} Videos</p>
  </div>
</div>
