<app-navigation></app-navigation>

<input type="file" (change)="onFileChange($event)" />

<p>link video</p>
<input type="number" #videoId placeholder="videoId">
<input type="number" #fileId placeholder="fileId">
<button (click)="linkVideo()">link</button>

<app-star-icon state="filled"></app-star-icon>
<app-star-icon state="half"></app-star-icon>
<app-star-icon></app-star-icon>

<app-play-icon></app-play-icon>

<app-remove-icon></app-remove-icon>

<main>
  <p>Continue Watching</p>
  <div class="video-row">
    @for(video of videoList; track video.videoId){
      <app-video-overview [video]="video"></app-video-overview>
    }
  </div>
</main>

