<app-navigation></app-navigation>

<app-star-icon state="filled"></app-star-icon>
<app-star-icon state="half"></app-star-icon>
<app-star-icon></app-star-icon>

<app-play-icon></app-play-icon>

<app-remove-icon></app-remove-icon>

<main>
  <p>Continue Watching</p>
  <div class="video-row">
    @if(content && content.current){
      @for(video of content.current.videos; track video.contentId){
        <app-video-overview [video]="video" (updateDashboard)="updateDashboard($event)"></app-video-overview>
      }
    }
  </div>

  <p>Assigned Content</p>
  <div class="video-row">
    @if(content && content.assigned){
      @for(video of content.assigned.videos; track video.contentId){
        <app-video-overview [video]="video" (updateDashboard)="updateDashboard($event)"></app-video-overview>
      }
    }
  </div>

  <p>Suggested Videos</p>
  <div class="video-row">
    @if(content && content.suggested){
      @for(video of content.suggested.videos; track video.contentId){
        <app-video-overview [video]="video" (updateDashboard)="updateDashboard($event)"></app-video-overview>
      }
    }
  </div>
</main>

