.video-row{
  display: flex;
  gap: 1rem;
  width: 100%;
}

main{
  width: 80%;
  margin-inline: auto;
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

app-star-icon:first-of-type{
  font-size: 2rem;
  color: red;
}

/*
app-play-icon{
  height: 2rem;
  color: green;
}

app-remove-icon{
  height: 5rem;
  color: blue;
}
*/
