<div class="commentList">
  @for (comment of comments; track comment.commentId){
    <div class="comment">
      <div class="base">
        <div class="header">
          <h2>{{ comment.user.username }}</h2>
          <p class="time"
             matTooltip="{{Utils.toFullTimeString(comment.timestamp)}}"
             matTooltipShowDelay="300"
          >
            {{Utils.toRelativeTimeString(comment.timestamp)}}
          </p>
        </div>
        <p class="text">{{comment.text}}</p>
      </div>

      @if(comment.user.userId === userId){
        <div class="editMenu">
          <div *ngIf="editComments.includes(comment.commentId)">
            <!--<button (click)="editComment(comment)">Edit</button>-->
            <button (click)="deleteComment(comment)">Delete</button>
          </div>
          <fa-icon [icon]="faEllipsis" (click)="toggleEditMenu(comment.commentId)"></fa-icon>
        </div>
      }


    </div>
  }
</div>


<div class="post">
  <input (keydown)="keyDownFunction($event)" type="text" placeholder="Schreibe einen Kommentar ..." [(ngModel)]="commentText">
  <button (click)="postComment()">Post</button>
</div>

@if (comments?.length === 0){
  <p class="no-comments">No comments yet</p>
}
