<section class="top">
  <p>views</p>
  <p>rating</p>
  <p>visibility</p>
  <p>questions</p>
  <p>tags</p>

  <button class="filled">Video Erstellen</button>
  <button class="outlined">Lernpfad Erstellen</button>
</section>


<section class="content">
  <fa-icon [icon]="faPlayCircle"></fa-icon>

  <div class="above">
    <p>Video</p>
    <h2>Learn Finances</h2>
  </div>

  <div>
    <fa-icon [icon]="faEye"></fa-icon>
    <p>165</p>
  </div>

  <div>
    <fa-icon [icon]="faStar"></fa-icon>
    <p>4.5</p>
  </div>

  <p>Everyone</p>
  <p>no questions</p>
  <p>fnance, business, employee</p>

  <div class="right">
    <fa-icon [icon]="faPen" (click)="openEditPopUp()"></fa-icon>
  </div>
</section>
<section class="content">
  <fa-icon [icon]="faPlayCircle"></fa-icon>

  <div class="above">
    <p>Video</p>
    <h2>Learn Finances</h2>
  </div>

  <div>
    <fa-icon [icon]="faEye"></fa-icon>
    <p>165</p>
  </div>

  <div>
    <fa-icon [icon]="faStar"></fa-icon>
    <p>4.5</p>
  </div>

  <p>Everyone</p>
  <p>no questions</p>
  <p>fnance, business, employee</p>

  <div class="right">
    <fa-icon [icon]="faPen"></fa-icon>
  </div>
</section>
