@import "../../../variables";

:host{
  display: flex;
}

.sidebar{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-right: 1px solid $gray-600;
  gap: .25rem;

  .question{
    display: flex;
    flex-direction: row;
    gap: .25rem;
    padding: .25rem;
    border-radius: .5rem;

    p.number{
      color: $secondary-500;
    }

    p.text{
      max-width: 20ch;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:hover{
      cursor: pointer;
      background-color: $gray-900;
    }

    &:not(.isAvailable) {
      opacity: 0.5;
      cursor: default;
    }

    &.selected{
      background-color: $gray-800;
    }
  }

  a{
    margin-top: auto;
    color: $gray-300;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;

    &:hover{
      color: $gray-250;
    }
  }
}
