<div class="sidebar">
  <div
    class="question"
    *ngFor="let question of questions; let i = index"
    [ngClass]="{'selected': selectedQuestion === question, 'isAvailable': this.checkedQuestions.length + 1 >= i+1}"
    (click)="this.checkedQuestions.length >= i ? selectQuestion(question, i) : ''"
  >
    <p class="number">{{ getFormattedQuestionNumber(i+1) }}</p>
    <p class="text">{{ question.text }}</p>
  </div>

  @if(isQuizFinished && questions && questions.length > 0){
    <a (click)="viewResults()" class="viewResults">See results</a>
  }
</div>

@if(questions){
  <app-video-quiz-answers
    [questionNumber]="this.questionNr"
    [questionText]="selectedQuestion?.text"
    [answers]="selectedQuestion?.answerOptions"
    [isQuizFinished]="isQuizFinished"
    [inLearningPath]="inLearningPath"
    [isLastVideo]="isLastVideo"
    (nextQuestion)="nextQuestion($event)"
    (nextVideo)="this.nextVideo.emit()"
  >
  </app-video-quiz-answers>
}

