<app-navigation [simple]="true"></app-navigation>

<main>
  <div class="top">
    <app-media-player [video]="video"></app-media-player>
    <div class="right">
      <h1>{{video?.title}}</h1>
      <p class="description">{{video?.description}}</p>
      <div class="actions">
        <!--replace with rating component-->
        <app-star-icon [stared]="true"></app-star-icon>
        <app-star-icon [stared]="true"></app-star-icon>
        <app-star-icon [stared]="true"></app-star-icon>
        <app-star-icon></app-star-icon>
        <app-star-icon></app-star-icon>
        <p>{{ video?.rating }}</p>
        <!--replace with rating component-->

        <app-bookmark-icon></app-bookmark-icon>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="tab-selector" #tabSelector>
      <p class="comments" (click)="selectTab('comments')">Comments</p>
      <p class="quiz" (click)="selectTab('quiz')">Quiz</p>
      <span class="marker"></span>
    </div>

    @switch(this.currentTab){
      @case('comments'){
        <app-video-comments [comments]="video?.comments"></app-video-comments>
      }
      @case('quiz'){
        <app-video-quiz [questions]="video?.questions"></app-video-quiz>
      }
    }
  </div>
</main>
