@import "../variables";

button{
  border: none;
  transition: background-color $transition-time-default;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
  box-sizing: content-box;
  background-color: transparent;

  &:hover{
    background-color: rgba(156, 156, 156, 0.2);
  }
}
