<div class="content">
  <div class="header">
    <h2>{{ comment.user.username }}</h2>
    <p class="time"
       matTooltip="{{Utils.toFullDateTimeString(comment.timestamp)}}"
       matTooltipShowDelay="300"
    >
      {{Utils.toRelativeTimeString(comment.timestamp)}}
    </p>
  </div>

  @if(!editMode){
    <p class="text">{{comment.text}}</p>
  } @else {
    <div class="editSection">
      <input #editInput (keydown)="keyDownFunction($event)" type="text" [(ngModel)]="comment.text">
      <button mat-stroked-button color="secondary" (click)="editMode = false">Cancel</button>
      <button mat-flat-button color="secondary"  (click)="updateComment()">Post</button>
    </div>
  }
</div>

@if(userService.currentUser.value.userRole == "ADMIN" || comment.user.userId == userId || videoOwnerId === userId && !editMode){
  <div class="right">
    <app-icon-button [cdkMenuTriggerFor]="menu">
      <fa-icon [icon]="faEllipsis"></fa-icon>
    </app-icon-button>

    <ng-template #menu>
      <div class="actionMenu" cdkMenu>
        @if(comment.user.userId === userId){
          <button (click)="editComment();" mat-button color="secondary"><fa-icon [icon]="faPen"></fa-icon>Edit</button>
        }
        <button (click)="deleteComment(comment)" mat-button color="secondary"><fa-icon [icon]="faTrash"></fa-icon> Delete</button>
      </div>
    </ng-template>
  </div>
}
