:host{
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
  border-radius: 0.625rem;
}

h2{
  font-weight: 500;
  margin-block: .5rem;
}

section{
  display: flex;

  div{
    display: flex;
  }
}
