<label for="input">{{ label }}</label>


@if(rows == 1){
  <input
    id="input"
    [ngClass]="small ? 'small' : ''"
    placeholder="{{placeholder}}"
    (input)="valueChange.emit(input.value)"
    #input
    (keydown)="logInput()"
    [(ngModel)]="value"
    [maxLength]="maxLength"
  >
} @else {
  <textarea
    rows="{{rows}}"
    id="input"
    [ngClass]="small ? 'small' : ''"
    placeholder="{{placeholder}}"
    (input)="valueChange.emit(input.value)"
    #input
    (keydown)="logInput()"
    [maxLength]="maxLength"
  >{{value}}</textarea>
}

@if(maxLength && value && value.length){
  @if(value.length >= maxLength){
    <span class="error">Maximum of characters reached: {{value.length}}/{{maxLength}}</span>
  } @else if(value.length >= maxLength-5){
    <span class="warning">Maximum of characters almost reached: {{value.length}}/{{maxLength}}</span>
  }
}
