@import "../../../variables";

:host{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  gap: .2rem;
  height: fit-content;
}

label{
  font-size: 0.85rem;
  font-weight: 400;
}

.small{
  padding-block: .25rem;
  font-size: 0.9rem;
}

.warning{
  color: orange;
}
.error{
  color: red;
}
