@import "../../../variables";

:host{
  border-radius: .5rem;
  overflow: hidden;
  display: block;
  border: .1rem $gray-600 solid;
  width: 20vw;
  transition: border $transition-time-default;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  :host{
    width: 100%;
  }
}

//when the host is hovered
:host(:hover){
  border-color: $gray-300;

  .header .actions app-icon-button{
    opacity: 1;
  }
}

.header{
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: $gray-900;
  padding: .5rem;
  border-bottom: .1rem $gray-600 solid;

  h2{
    font-size: 1rem;
  }

  .actions{
    display: flex;
    margin-left: auto;
    transition: opacity $transition-time-short;

    @media screen and (max-width: 900px) {
      display: none;
    }

    app-icon-button *{
      color: $gray-300;
      font-size: 1.2rem;
      height: 1.3rem;
    }

    app-icon-button:not(:has(app-bookmark-icon.marked)){
      opacity: 0;
    }
  }
}

.progress-bar{
  height: .3rem;
  background-color: $gray-500;
  width: 100%;

  span{
    display: block;
    height: 100%;
  }
}

app-play-icon{
  height: 2rem;
}

.main{
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;

  p{
    font-size: .9rem;
  }
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;

  p{
    white-space: nowrap;
  }
}


.tags{
  display: flex;
  gap: .5rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 1rem;
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0%, hsl(0,0%,100%) 100%);
    right: 0;
  }
}
