@if(!this.answers){
  <div class="finished">
    <h2>Finished quiz</h2>
    <p>Score {{ correctAnswers.length + notSelectedButCorrectAnswers.length }} /
      {{ notSelectedButCorrectAnswers.length + correctAnswers.length + wrongAnswers.length + missedAnswers.length }}</p>

    <p>Score: {{ calculateScoreInDecimal()*100}}%</p>

    <div class="buttons">
      @if (inLearningPath && isQuizFinished && calculateScoreInDecimal() > 0.8 || calculateScoreInDecimal() < 0) {
        <button mat-stroked-button (click)="restartQuiz()" color="secondary">Restart Quiz</button>

        <button mat-flat-button color="secondary"
                (click)="this.nextVideo.emit()">{{ isLastVideo ? 'Finish Quiz' : 'Next Video' }}
        </button>
      } @else {
        <button mat-flat-button (click)="restartQuiz()" color="secondary">Restart Quiz</button>
      }
    </div>
  </div>
}
@else{
  <h2>Frage {{ getFormattedQuestionNumber() }}</h2>
  <p class="text">{{this.questionText}}</p>

  <main [ngClass]="{'checked' : answerIsSubmitted}">
    @for (answer of this.answers; track answer.answerOptionId) {
      <div class="answer"
           (click)="toggleAnswer(answer)"
           [ngClass]="{'selected' : this.selectedAnswers.includes(answer),
           'correct' : this.correctAnswers.includes(answer),
           'wrong' : this.wrongAnswers.includes(answer),
           'missing' : this.missedAnswers.includes(answer)}"
      >
        <div class="ripple" matRipple></div>
        <p>{{answer.text}}</p>
      </div>
    }
  </main>

  <div class="buttons" [style.justify-content]="isQuizFinished ? 'center' : 'flex-start'">
    @if(inLearningPath && isQuizFinished && calculateScoreInDecimal() > 0.8){
      <button mat-stroked-button color="secondary" (click)="checkAnswer()">
        {{ isQuizFinished ? 'Restart Quiz' : answerIsSubmitted ? 'Next Question' : 'Submit' }}</button>

      <button mat-flat-button color="secondary" (click)="this.nextVideo.emit()">{{ isLastVideo ? 'Finish Quiz' : 'Next Video'}}</button>
    } @else {
      <button mat-flat-button color="secondary" (click)="checkAnswer()">
        {{ isQuizFinished ? 'Restart Quiz' : answerIsSubmitted ? 'Next Question' : 'Submit' }}</button>
    }
  </div>
}
