@import "../../../variables";

:host{
  padding: 1rem;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}

h2{
  font-weight: bold;
  margin-bottom: .3rem;
}

.text{
  margin-bottom: .8rem;
}

.answer{
  display: flex;
  width: 14rem;
  aspect-ratio: 5/2;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  background: $gray-800;
  border-radius: .5rem;
  user-select: none;
  border: .15rem solid transparent;
  transition: all $transition-time-short;

  &:hover{
    cursor: pointer;
  }

  &.checked{
    border-color: $secondary-500;
    background-color: $secondary-800;
    box-shadow: .1rem .2rem .2rem .1rem rgba(0, 0, 0, 0.1);
  }
}

main.checked .answer{
  background-color: red;

  &.correct{
    background-color: lightgreen;
  }
}

button{
  background: $primary-500;
  color: white;
  padding: 0.25rem 2rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}
