@if(!this.answers){
  <h2>Finished quiz</h2>
  <p>Score {{correctAnswers.length}} / {{correctAnswers.length + wrongAnswers.length + missedAnswers.length}}</p>

  <div class="buttons">
    @if(inLearningPath && isQuizFinished && calculateScoreInPercent() > 0.8 || calculateScoreInPercent() < 0){
      <button mat-stroked-button (click)="restartQuiz()" color="secondary">Quiz neustarten</button>

      <button mat-flat-button color="secondary" (click)="this.nextVideo.emit()">{{ isLastVideo ? 'Quiz abschließen' : 'Nächstes Video'}}</button>
    } @else {
      <button mat-flat-button (click)="restartQuiz()" color="secondary">Quiz neustarten</button>
    }
  </div>
  <p></p>
}
@else{
  <h2>Frage {{ getFormattedQuestionNumber() }}</h2>
  <p class="text">{{this.questionText}}</p>

  <main [ngClass]="{'checked' : isAnswerCheckedIn}">
    @for (answer of this.answers; track answer.answerOptionId) {
      <div class="answer"
           (click)="toggleAnswer(answer)"
           [ngClass]="{'checked' : this.selectedAnswers.includes(answer),
           'correct' : this.correctAnswers.includes(answer),
           'wrong' : this.wrongAnswers.includes(answer),
           'missing' : this.missedAnswers.includes(answer)}"
           matRipple
      >
        <p>{{answer.text}}</p>
      </div>
    }
  </main>

  <div class="buttons">
    @if(inLearningPath && isQuizFinished && calculateScoreInPercent() > 0.8){
      <button mat-stroked-button color="secondary" (click)="checkAnswer()">
        {{ isQuizFinished ? 'Quiz neustarten' : isAnswerCheckedIn ? 'Nächste Frage' : 'Abgeben' }}</button>

      <button mat-flat-button color="secondary" (click)="this.nextVideo.emit()">{{ isLastVideo ? 'Quiz abschließen' : 'Nächstes Video'}}</button>
    } @else {
      <button mat-flat-button color="secondary" (click)="checkAnswer()">
        {{ isQuizFinished ? 'Quiz neustarten' : isAnswerCheckedIn ? 'Nächste Frage' : 'Abgeben' }}</button>
    }
  </div>
}
