@import "../../../variables";

:host{
  display: flex;
  width: 100%;
}

/*mat-checkbox{
  scale: 1.75;
  align-self: flex-end;
}*/

mat-checkbox{
  translate: 0 .5rem;
}

app-icon-button{
  translate: 0 .1rem;
  align-self: center;
  fa-icon{
    color: $gray-400
  }
}
