@import "../../../variables";

:host{
  height: 1.5rem;
  overflow: hidden;
  margin: -.5rem;
}

@media screen and (not (pointer: coarse)) {
  :host(:hover){
    button{
      opacity: 1;
    }

    main{
      @include floating-box;
    }

    app-star-icon{
      color: $secondary-500;
    }
  }
}



main{
  border-radius: 0.4rem;
  padding: .5rem;
  margin: -.5rem;
  display: flex;
  flex-direction: column;
  gap: .75rem;
  border: 1px solid transparent;
  transition: box-shadow $transition-time-default, border-color $transition-time-default;
}

app-star-icon{
  cursor: pointer;
  font-size: 1.2rem;
}

.rating{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;
}

button{
  opacity: 0;
  transition: opacity $transition-time-default;
  height: 1.6rem;
  min-width: 0;
  width: fit-content;
}
