@import "../../../variables";

:host{
}

.dropDown{
  display: flex;
  cursor: pointer;
  gap: .3rem;

  fa-icon{
    translate: 0 -.2rem;
  }
}

.actionMenu{
  background-color: white;
  @include floating-box;
  translate: -.3rem .2rem;

  p{
    padding-block: .25rem;
    padding-inline: .25rem;
    cursor: pointer;
    transition: all .2s ease;

    &:hover{
      background-color: $gray-800;
    }
  }
}

